@inherits AppCode.Razor.AppRazor
@using AppCode
@using AppCode.Data

@{
  var viewSettings = As<ViewSettings>(MyItem);

  @* TODO: get data from App.Settings *@
  @* var projectKey = App.Settings.ProjectKey; *@
  var projectKey = "mikd91hyml0jo";

  var AppSettingsToolbar = Kit.Toolbar.Default().AppSettings().AsTag();
}

@if (string.IsNullOrEmpty(projectKey))
{
  <div class="alert alert-warning">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>NanoSights</h4>
      @AppSettingsToolbar
    </div>
    <p>To enable NanoSights, please enter your Project Key and User ID.</p>
  </div>

  return;
}

@* Show App to Admins *@
@if (MyUser.IsContentAdmin)
{
  <div class="alert alert-primary">
    <div class="d-flex justify-content-between align-items-center">
      <h4>NanoSights</h4>
      <em>Only non-authenticated users are tracked</em>
      @AppSettingsToolbar
    </div>
  </div>
}

<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex gap-4">
    @if(viewSettings.NanoAnalytics)
    {
      @Html.Partial("NanoAnalytics.cshtml", new { projectKey })
    }
    @if(viewSettings.NanoInsights)
    {
      @Html.Partial("NanoInsights.cshtml", new { projectKey })
    }
    @if(viewSettings.NanoCustom)
    {
      @Html.Partial("NanoCustom.cshtml", new { projectKey })
    }
  </div>
  @Kit.Toolbar.Edit(MyItem).AsTag()
</div>


@* TODO: only shows the first tag box in (nano-analytics and not all...) *@