@inherits AppCode.Razor.AppRazor
@using AppCode
@using AppCode.Data

@{
  var projectKey = MyModel.Get<string>("projectKey");
  var userId = MyModel.Get<string>("userId");
}

<div class="alert alert-dark">
  NanoInsights

  <nano-insights
    projectKey="@projectKey"
    userId="@userId"
  />
</div>

<script type="module">
  import nanoInsights from 'https://cdn.jsdelivr.net/npm/nano-insights@1.0.0/+esm'
</script>