@inherits AppCode.Razor.AppRazor
@using AppCode
@using AppCode.Data

@{
  var projectKey = MyModel.Get<string>("projectKey");
  var userId = MyModel.Get<string>("userId");
}

<div class="alert alert-dark">
  NanoAnalytics

  <nano-analytics
    projectKey="@projectKey"
    userId="@userId"
  />
</div>

<script type="module">
  import nanoAnalytics from 'https://cdn.jsdelivr.net/npm/nano-analytics@1.0.0/+esm'
</script>