@inherits AppCode.Razor.AppRazor
@using AppCode
@using AppCode.Data

@{
  var projectKey = MyModel.Get<string>("projectKey");
}

@* Show App Settings to Admins *@
@if (MyUser.IsContentAdmin)
{
  <div class="alert alert-dark">
    NanoInsights
  </div>
} else { // Track normal users
  <nano-insights
    projectKey="@projectKey"
  />
}

<script type="module">
  import nanoInsights from 'https://cdn.jsdelivr.net/npm/nano-insights@1.1.0/+esm'
</script>